{{!< default}}

{{#post}}
	<div class="pure-g-r">
		<main role="main" class="pure-u-3-4">
			<article>
					<h1>{{{title}}}</h1>
					<div>
						<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
						{{#if tags}}
							<i class="fa fa-tags sheet-post-tags"></i> {{tags}}
						{{/if}}
					</div>

					<section>
					    {{content}}
					</section>
			</article>
		</main>

		<footer>
		</footer>
	</div>
{{/post}}
